

<div class="settingTabContent" ng-controller="configController">
    <!--<div id="slider"></div>-->
  <div class="dataRefresh optionsMain">
        <div class="">
            <label>
                <div class="checkbox midBlock">
                    <input type="checkbox" ng-model="configDetails.busParkingDetails.busParkingRefresherStatus"
                           ng-click="setSimulatorForBusLot(configDetails.busParkingDetails.busParkingRefresherStatus)"
                           ng-disabled="!configDetails.userDetails.isAdminStatus">
                    <div class="box"></div>
                </div>
                <span class="midBlock marginLeftSrt">Taxi Parking Data Refresher</span>
            </label>
        </div>
        <div class="options marginTop" ng-if="configDetails.busParkingDetails.busParkingRefresherStatus">
            <div class="smallest marginBtmSml">Taxi Parking Refresh Time</div>
            <ul class="form">
                <li class="">
                    <input type="text" class="subNormal midBlock parkingRefresh full" placeholder="Refresh time"
                           ng-model="configDetails.busParkingDetails.refreshedTime"
                           ng-disabled="!configDetails.userDetails.isAdminStatus">
                </li>
                <li class="">
                    <simple-slider id="parkingRefresh" min=10 max=60 val="'.parkingRefresh'"></simple-slider>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="loadingBayAggregation optionsMain">
        &lt;!&ndash;<div class="toggleBtn">&ndash;&gt;
            &lt;!&ndash;<label>&ndash;&gt;
                &lt;!&ndash;<div class="checkbox midBlock">&ndash;&gt;
                    &lt;!&ndash;<input type="checkbox" ng-model="configDetails.loadingBayDetails.isAggregation"&ndash;&gt;
                           &lt;!&ndash;ng-click="setAggregationForLoadingBay(configDetails.loadingBayDetails.isAggregation)"&ndash;&gt;
                           &lt;!&ndash;ng-disabled="!configDetails.userDetails.isAdminStatus">&ndash;&gt;
                    &lt;!&ndash;<div class="box"></div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<span class="midBlock marginLeftSrt">Loading Bay Data By Aggregation</span>&ndash;&gt;
            &lt;!&ndash;</label>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;

        <div class="options"  ng-if="configDetails.loadingBayDetails.isAggregation">
            <div class="smallest marginBtmSml">Loading-Berth Aggregation Refresh-Period</div>
            <ul class="form">
                <li class="">
                    <input type="text" class="subNormal midBlock aggregationRefresh" placeholder="Refresh time"
                           ng-model="configDetails.loadingBayDetails.aggregationRefreshTime"
                           ng-disabled="!configDetails.userDetails.isAdminStatus">
                </li>
                <li class="">
                    <simple-slider id="aggregationRefresh" min=10 max=60 val="'.aggregationRefresh'"></simple-slider>
                </li>

                &lt;!&ndash;<div class="smallest marginBtmSml">Loading-Bay Aggregation Period</div>&ndash;&gt;
                &lt;!&ndash;<li class="">&ndash;&gt;
                    &lt;!&ndash;<input type="text" class="subNormal midBlock" placeholder="Refresh time"&ndash;&gt;
                           &lt;!&ndash;ng-model="configDetails.loadingBayDetails.aggregationTime"&ndash;&gt;
                           &lt;!&ndash;ng-disabled="!configDetails.userDetails.isAdminStatus">&ndash;&gt;
                &lt;!&ndash;</li>&ndash;&gt;
                &lt;!&ndash;<li class="">&ndash;&gt;
                    &lt;!&ndash;<div class="dropDown subNormal white midBlock marginLeftSrt">&ndash;&gt;
                        &lt;!&ndash;<div class="head">&ndash;&gt;
                            &lt;!&ndash;<div class="headTitle">{{configDetails.loadingBayDetails.aggregationTimeUnit}}</div>&ndash;&gt;
                            &lt;!&ndash;<img src="images/dropDown.png" alt="down" class="sign">&ndash;&gt;
                            &lt;!&ndash;<span class="clear"></span>&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;
                        &lt;!&ndash;<ul class="list">&ndash;&gt;
                            &lt;!&ndash;<li ng-click="changeAggregationTimeUnit('Sec')">Sec</li>&lt;!&ndash;ng-click="changeAggregationRefreshTimeUnit('Sec')"&ndash;&gt;&ndash;&gt;
                            &lt;!&ndash;<li ng-click="changeAggregationTimeUnit('Min')">Min</li>&lt;!&ndash;ng-click="changeAggregationRefreshTimeUnit('Min')"&ndash;&gt;&ndash;&gt;
                        &lt;!&ndash;</ul>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</li>&ndash;&gt;
            </ul>
        </div>
    </div>
    <div class="demographic toggleBtn optionsMain">
        <ul class="form">
            <li class="">
                <label>
                    <div class="checkbox midBlock">
                        <input type="checkbox" ng-model="configDetails.demographicDetails.showGender"
                               ng-click="setDemographicGenderCountStatus(configDetails.demographicDetails.showGender)"
                               ng-disabled="!configDetails.userDetails.isAdminStatus">
                        <div class="box"></div>
                    </div>
                    <span class="midBlock marginLeftSrt">Demographic Chart</span>
                </label>
            </li>
            &lt;!&ndash;<li class="">
                <label>
                    <div class="checkbox midBlock" ng-click="setSimulatorFlag()">
                        <input type="checkbox" ng-model="configDetails.simulator.show">
                        <div class="box"></div>
                    </div>
                    <span class="midBlock marginLeftSrt">Simulator</span>
                </label>
            </li>&ndash;&gt;
        </ul>
    </div>-->
    <!--<div class="borderBtm marginBtm">-->
        <!--<div class="demographic marginBtm toggleBtn optionsMain">-->
            <!--<ul class="form">-->
                <!--<li class="">-->
                    <!--<label>-->
                        <!--<div class="checkbox midBlock">-->
                            <!--<input type="checkbox" ng-model="configDetails.clearArrival"-->
                                   <!--ng-click="setClearBusArrival()"-->
                                   <!--ng-disabled="!configDetails.userDetails.isAdminStatus">&lt;!&ndash;{{configDetails.clearArrival}}&ndash;&gt;-->
                            <!--<div class="box"></div>-->
                        <!--</div>-->
                        <!--<span class="midBlock marginLeftSrt">Add clear  Bus Arrival tab</span>-->
                    <!--</label>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="borderBtm marginBtm">-->
        <!--<div class="demographic marginBtm toggleBtn optionsMain">-->
            <!--<ul class="form">-->
                <!--<li class="">-->
                    <!--<label>-->
                        <!--<div class="checkbox midBlock">&lt;!&ndash;{{configDetails.clearDepature}}&ndash;&gt;-->
                            <!--<input type="checkbox" ng-model="configDetails.clearDepature"-->
                                   <!--ng-click="setClearBusDepature()"-->
                                   <!--ng-disabled="!configDetails.userDetails.isAdminStatus">-->
                            <!--<div class="box"></div>-->
                        <!--</div>-->
                        <!--<span class="midBlock marginLeftSrt">Add clear  Bus Depature tab</span>-->
                    <!--</label>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
   <!-- <div class="optionsMain">
        <div class="smallest marginBtmSml">Elderly occupancy Threshold</div>

        <ul class="form flow ">
            <li class="">
                <input type="text" class="subNormal midBlock" placeholder="Refresh time"
                       ng-model="configDetails.threshold.elderly"
                       ng-disabled="!configDetails.userDetails.isAdminStatus">
            </li>
            <span class="clear"></span>
        </ul>
    </div>
    <div class="loadingBayDataCount optionsMain">
        &lt;!&ndash;        <div class="toggleBtn">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox" ng-model="configDetails.loadingBayDetails.loadingBayData"
                                   ng-click="setLoadingBayCapacity(configDetails.loadingBayDetails.loadingBayData)">
                            <div class="box"></div>
                        </div>
                        <span class="midBlock marginLeftSrt">Loading Bay Data By Count</span>
                    </label>
                </div>&ndash;&gt;
        <div class="smallest marginBtmSml">Capacity Of lanes To Calculate Count</div>
        <div class="options">

            <ul class="form flow">
                <li>
                    <div class="smallest marginBtmSml">Lane 1</div>
                    <input type="text" class="subNormal midBlock" placeholder="Loading Bay Capacity"
                           ng-disabled="!configDetails.userDetails.isAdminStatus"
                           ng-model="configDetails.loadingBayDetails.laneCapacity[0]">
                </li>
                <li>
                    <div class="smallest marginBtmSml">Lane 2</div>
                    <input type="text" class="subNormal midBlock" placeholder="Loading Bay Capacity"
                           ng-disabled="!configDetails.userDetails.isAdminStatus"
                           ng-model="configDetails.loadingBayDetails.laneCapacity[1]">
                </li>
                <li>
                    <div class="smallest marginBtmSml">Lane 3</div>
                    <input type="text" class="subNormal midBlock" placeholder="Loading Bay Capacity"
                           ng-disabled="!configDetails.userDetails.isAdminStatus"
                           ng-model="configDetails.loadingBayDetails.laneCapacity[2]">
                </li>
                <li>
                    <div class="smallest marginBtmSml">physically challenged Lane</div>
                    <input type="text" class="subNormal midBlock" placeholder="Loading Bay Capacity"
                           ng-model="configDetails.loadingBayDetails.laneCapacity[3]"
                           ng-disabled="!configDetails.userDetails.isAdminStatus">
                </li>
                <span class="clear"></span>
            </ul>
        </div>
    </div>
    <div class="loadingBayDataCount optionsMain">
        &lt;!&ndash;        <div class="toggleBtn">
                    <label>
                        <div class="checkbox midBlock">
                            <input type="checkbox" ng-model="configDetails.loadingBayDetails.loadingBayData"
                                   ng-click="setLoadingBayCapacity(configDetails.loadingBayDetails.loadingBayData)">
                            <div class="box"></div>
                        </div>
                        <span class="midBlock marginLeftSrt">Loading Bay Data By Count</span>
                    </label>
                </div>&ndash;&gt;
        &lt;!&ndash;<div class="options">

            <ul class="form flow">
                <li>
                    <div class="smallest marginBtmSml">Phone No</div>
                    <input type="text" class="subNormal midBlock" placeholder="Phone No"
                           ng-disabled="!configDetails.userDetails.isAdminStatus"
                           ng-model="configDetails.smsDetails.phoneNo">
                </li>

                <li class="bottomAlign">
                    <div class="toggleBtn">
                        <label>
                            <div class="checkbox midBlock">
                                <input type="checkbox" ng-model="configDetails.smsDetails.smsSendingStatus"
                                       ng-click="setAutoSMSStatus(configDetails.smsDetails.smsSendingStatus)"
                                       ng-disabled="!configDetails.userDetails.isAdminStatus">
                                <div class="box"></div>
                            </div>
                            <span class="midBlock marginLeftSrt subNormal">Auto SMS {{configDetails.smsDetails.smsSendingStatus}}</span>
                        </label>
                    </div>
                </li>
                <span class="clear"></span>
            </ul>
        </div>&ndash;&gt;
        <div class="saveConfig midBlock btn" ng-click="submitConfigData()">SAVE</div>
    </div>-->
    <div class="formBtns small roboRegular" ng-if="configDetails.userDetails.isAdminStatus"><!--ng-if="configDetails.busParkingDetails.busParkingRefresherStatus ||
        configDetails.loadingBayDetails.isAggregation"-->
        <div class="saveConfig midBlock btn" ng-click="submitConfigData()">SAVE</div>
    </div>
</div>

<div class="messageBox configSaved">
    <div class="popupCont ">
        Changes Saved successfully
    </div>
</div>